* {
  /* Box shadow and transition */
  --shadow-anim: box-shadow 0.5s;
  --shadow: 0 0px 10px 6px rgb(23 23 23 / 24%);
  --shadow-large: 0 0px 10px 15px rgb(23 23 23 / 24%);

  --radius: 10px;
  --input-radius: 5px;
  --border: 3px #c8c8c8 solid;
  --background: hsl(228, 29%, 26%);
  --accent: hsl(227, 27%, 34%);
  --action-spacing: 0.15rem;

  /* Not variables */
  list-style: none;
}

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

body {
  font-family: "Rubik", sans-serif !important;
  background-color: hsl(228, 29%, 26%);
}

i {
  cursor: pointer;
}

a {
  color: hsl(207, 70%, 87%);
  text-decoration: none;
}

.trash:after {
  content: " Remove this Book";
  cursor: pointer;
  letter-spacing: var(--action-spacing);
  line-height: 1.4rem;
}

.unread:after {
  content: " Unread";
  cursor: pointer;
  letter-spacing: var(--action-spacing);
}

.read:after {
  content: " Read";
  cursor: pointer;
  letter-spacing: var(--action-spacing);
}

/* Non-Global */

main {
  display: flex;
  flex-direction: row;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  margin: 1.7rem;
  width: 22.4rem;
  padding: 3rem 2.5rem 2.5rem 2.5rem;
  background-color: var(--accent);
  height: 94.2vh;
  border-radius: var(--radius);
  color: white;
  box-shadow: var(--shadow);
}

header {
  margin: 0 0 3rem 0;
}

header img {
  width: 15%;
}

header div {
  font-size: 1.8rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

input {
  width: 16em;
  height: 3em;
  border-radius: var(--input-radius);
  border: var(--border);
  font-size: 1.2em;
  text-indent: 10px;
  transition: 0.3s;
  outline: none;
}

input:focus {
  border: 3px solid #7b7b7b;
}

.check {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#readStatus {
  width: 2rem;
}

#add-book {
  cursor: pointer;
}

.book-display {
  display: flex;
  align-items: flex-start;
  margin: 10.3rem 1.7rem 1.7rem 1.7rem;
}

.space {
  flex-grow: 500;
}

footer {
  letter-spacing: 0.05em;
}

/* Table */

table {
  border-collapse: collapse;
  /* border: var(--border) !important; */
  letter-spacing: 1px;
  width: 64vw;
  box-shadow: var(--shadow);
}

table td {
  padding: 30px 20px 30px 20px;
}

td,
th {
  padding: 20px 26px 20px 26px;
}

th {
  background-color: var(--accent);
  color: white;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  font-weight: 500;
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: hsl(207, 70%, 87%);
}

tr:nth-child(odd) td {
  background-color: hsl(207, 70%, 90%);
}

caption {
  padding: 10px;
}
